.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

span.icon {
  margin-right: 5px;
}

div.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


$blue: hsl(194, 24%, 31%);
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $blue;
$box-padding: 1rem;

@import '~bulma/bulma.sass';